<!-- LINKS GOOGLE FONTS -->
<link
  href="https://fonts.googleapis.com/css2?family=Chewy&family=Delicious+Handrawn&family=Londrina+Solid:wght@300&family=Loved+by+the+King&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap"
  rel="stylesheet"
/>
<br />
<h2 class="top1">Conoce más del mundo</h2>
<br />
<h4 class="tx">
  Estamos buscando con la siguiente información puedas saber cuál será tu
  siguiente destino así como aprendas de otras culturas.
</h4>
<div>
  <p class="p1">Estos son algunos lugares para vacacionar por el mundo</p>
  <br />
  <p class="p1">1 Tahití, Francia</p>
  <div class="container">
    <img src="../../assets/imagenes/Tahití.jpg" alt="" />
  </div>
  <p class="p2">
    En su capital, Papeete, hallarás interesantes atracciones arquitectónicas
    como el Palacio Presidencial, la Casa del Alto Comisionado, la Catedral de
    Notre Dame y el Museo Gauguin, referido a la vida y obras del célebre pintor
    francés, Paul Gauguin. El Museo de la Perla Negra, único en el mundo que
    exhibe rarezas en estas gemas, incluyendo una de las más grandes del mundo,
    también está en Papeete.
  </p>
  <p class="p1">2 Cancún, México</p>
  <div class="container">
    <img
      src="../../assets/imagenes/Cancun.jfif"
      alt=""
      width="591"
      height="394"
    />
  </div>
  <p class="p2">
    El destino turístico mexicano más famoso en todo en el mundo. Cancún debe su
    popularidad por la belleza de sus playas, divertidos parques de aventuras,
    los cercanos yacimientos arqueológicos mayas y a su capacidad hotelera.
    Desde la Torre escénica tendrás las más espectaculares vistas de la ciudad y
    en sus alrededores podrás bucear en los mejores arrecifes del mar. Solo
    tendrás que abordar un barco en la zona hotelera o Puerto Juárez para ir a
    Cozumel o Isla Mujeres.
  </p>

  <p class="p1">3 Orlando, EE.UU</p>
  <div class="container">
    <img
      src="../../assets/imagenes/Orlando.jfif"
      alt=""
      width="591"
      height="394"
    />
  </div>
  <p class="p2">
    La ciudad de Orlando es fantástica para disfrutar de vacaciones tanto para
    niños y adultos. Sus parques de atracciones como Magic Kingdom, Disney-MGM
    Studios y Universal Studios, están entre los mejores del mundo, lo que le
    hace ser un destino anhelado para millones de turistas. Pese a que es su
    principal atractivo, Orlando no es solo parques. El desarrollo de la ciudad
    es admirable con autopistas bien cuidadas, amplia oferta hotelera,
    gastronómica y lugares para el entretenimiento adulto del primer mundo.
  </p>
</div>
<br />
<div class="tx">Datos interesantes</div>
<div class="interesting-facts">
  <div class="fact">
    <h3>Monte Everest</h3>
    <p>
      El Monte Everest, en la cordillera del Himalaya, es la montaña más alta
      del mundo con una altura de 8,848 metros sobre el nivel del mar.
    </p>
  </div>

  <div class="fact">
    <h3>Río Amazonas</h3>
    <p>
      El río Amazonas, en América del Sur, es el río más largo y caudaloso del
      mundo, con una longitud aproximada de 6,400 kilómetros.
    </p>
  </div>

  <div class="fact">
    <h3>Gran Barrera de Coral</h3>
    <p>
      La Gran Barrera de Coral, ubicada en Australia, es el sistema de arrecifes
      de coral más grande del mundo. Se extiende por más de 2,300 kilómetros y
      alberga una gran variedad de especies marinas.
    </p>
  </div>

  <div class="fact">
    <h3>Desierto del Sahara</h3>
    <p>
      El desierto del Sahara, en África, es el desierto cálido más grande del
      mundo, abarcando aproximadamente 9.2 millones de kilómetros cuadrados.
    </p>
  </div>

  <div class="fact">
    <h3>Gran Muralla China</h3>
    <p>
      La Gran Muralla China, construida durante varias dinastías chinas, es una
      de las estructuras más impresionantes del mundo y tiene una longitud de
      más de 21,000 kilómetros.
    </p>
  </div>

  <div class="fact">
    <h3>Selva Amazónica</h3>
    <p>
      La selva amazónica es la selva tropical más extensa del mundo y alberga
      una increíble diversidad de plantas y animales. Se estima que contiene
      alrededor del 10% de todas las especies conocidas en el planeta.
    </p>
  </div>

  <div class="fact">
    <h3>Océano Pacífico</h3>
    <p>
      El océano Pacífico es el océano más grande del mundo, cubriendo
      aproximadamente el 30% de la superficie terrestre. También es conocido por
      albergar la Fosa de las Marianas, el punto más profundo de la Tierra, con
      una profundidad de aproximadamente 11,000 metros.
    </p>
  </div>

  <div class="fact">
    <h3>Monte Kilimanjaro</h3>
    <p>
      El Monte Kilimanjaro, situado en Tanzania, es la montaña independiente más
      alta de África y uno de los volcanes más altos del mundo. Su cumbre nevada
      es un destino popular para los excursionistas.
    </p>
  </div>

  <div class="fact">
    <h3>Parque Nacional de Yellowstone</h3>
    <p>
      El Parque Nacional de Yellowstone, en Estados Unidos, es el primer parque
      nacional del mundo y es conocido por sus géiseres, incluido el famoso
      géiser Old Faithful.
    </p>
  </div>

  <div class="fact">
    <h3>Arrecife de Coral de Belice</h3>
    <p>
      El Arrecife de Coral de Belice, declarado Patrimonio de la Humanidad, es
      el sistema de arrecifes de coral más grande del hemisferio occidental y
      alberga una gran variedad de especies marinas, como tiburones, tortugas y
      manatíes.
    </p>
  </div>
</div>
