<link
             href="https://fonts.googleapis.com/css2?family=Chewy&family=Delicious+Handrawn&family=Londrina+Solid:wght@300&family=Loved+by+the+King&display=swap"
             rel="stylesheet">
         <link
             href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
             rel="stylesheet">
         <link
             href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap"
             rel="stylesheet">
<body>
    <h1>{{Texto}}</h1>
  <h2>Hospedajes mas reservados en StayMate</h2>
  <div class="row">
      <div class="col">
          <div class="hola">
            <div class="container">
                <canvas id="barChart"></canvas>
            </div>
            <div>
                <p>{{Fecha}}</p>
                <p>{{Fecha|date}}</p>
                <p>{{Fecha|date:'dd/mm/yy'}}</p> 
              </div>
            </div>
            
      </div>
      
  </div>
  
  </body>