<!-- LINKS GOOGLE FONTS -->
<link
  href="https://fonts.googleapis.com/css2?family=Chewy&family=Delicious+Handrawn&family=Londrina+Solid:wght@300&family=Loved+by+the+King&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap"
  rel="stylesheet"
/>
<br />

<h2
  [ngStyle]="{
    'font-size': '55px',
    color: '#6d9b23',
    'text-align': 'center',
    'font-family': 'Chewy'
  }"
>
  Tienes alguna duda!
</h2>
<br />
<div class="tit1">Aquí tienes una guía rápida</div>
<div class="text">
  <p class="tit2">1. Cómo crear una cuenta y acceder al sistema</p>
  <p>
    Primero vamos a ingresar nuestros datos personales como nombre, correo
    numero de telefono y contraseña. El sistema verificara sus datos si todo
    esta en orden ingresara a la pagina con su cuenta automaticamente.
  </p>
  <p class="tit2">
    2. Cómo buscar y filtrar alojamientos según mis preferencias
  </p>
  <p>
    Para realizar esto no es necesario registrarse solo en nuestro menu en la
    parte superior derecha puedes buscar tu alojamiento que busques solo debes
    de ser muy especifico
  </p>
  <p class="tit2">3. Cómo realizar una reserva y confirmarla</p>
  <p>
    Primero se debe iniciar sesión con nuestra cuenta, posteriormente ya elegido
    el lugar se dará click en reservar esto automáticamente le pedirá sus datos
    personales al ingresar todo y el sistema lo verifique su reservación ya está
    echa.
  </p>
  <p class="tit2">4. Cómo revisar y gestionar mis reservas existentes</p>
  <p>
    Se tiene que ingresar en la pestaña de “Mis Reservaciones” y ahí podrá
    revisar todo acerca de sus reservaciones
  </p>
</div>
<div class="tit1">Preguntas frecuentes</div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        ¿Cómo puedo realizar una reserva?
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Para poder realizar una reserva debes tener creada tu cuenta y haber
        iniciado sesión después buscar el lugar que deseas llenas los campos que
        te pedimos nuestro sistema revisara que todo este correcto si es así
        tendrás lista tu reservación.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        ¿Cuáles son los métodos de pago aceptados?
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        StayMate acepta varias formas de pago, que varían en función del país de
        la cuenta con la que quieres pagar. Te mostraremos cuáles hay
        disponibles una vez que selecciones el país en la página de pago.
        <p>Opciones de pago disponibles en la mayoría de los países:</p>
        <ul>
          <li>
            Visa, MasterCard, Amex, JCB y tarjetas de débito que pueden
            procesarse como tarjetas de crédito
          </li>
          <li>Apple Pay</li>
          <li>Google Pay</li>
          <li>PayPal</li>
        </ul>
        <p>Opciones de pago disponibles en algunos países:</p>
        <p>Brasil</p>
        <ul>
          <li>Aura en Brasil</li>
          <li>Elo en Brasil</li>
          <li>Hipercard en Brasil</li>
        </ul>
        <p>China</p>
        <ul>
          <li>Alipay en China continental</li>
          <li>WeChat Pay en China continental</li>
        </ul>
        <p>India</p>
        <ul>
          <li>PayU en India</li>
        </ul>
        <p>
          Recuerda que pagar en efectivo o fuera de la plataforma infringe
          nuestros Términos de servicio, y puede dar lugar a la eliminación de
          tu cuenta de StayMate. Si pagas fuera de la plataforma, nos resultará
          más difícil proteger tu información y corres un riesgo mayor de sufrir
          fraudes u otros problemas de seguridad.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        ¿Cómo puedo contactar al propietario del alojamiento?
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nosotros te daremos al realizar la reservación y todos los trámites
        correspondientes los números del propietario del alojamiento o la forma
        de contacto.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
        ¿Qué sucede si tengo problemas durante mi estadía?
      </button>
    </h2>
    <div
      id="collapseFour"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Envía una solicitud a tu anfitrión: describe el problema, agrega fotos o
        videos, si los tienes, y explícale como te gustaría resolver la
        situación. Espera su respuesta: si el anfitrión rechaza tu solicitud o
        no responde, puedes pedir a StayMate que intervenga.
      </div>
    </div>
  </div>
</div>
<br /><br />
<div class="tit1">Recursos adicionales</div>
<div>
  <p class="text">¡Aquí tienes algunos blogs que te pueden interesar!</p>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/imagenes/Blog1.jfif"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Mochileando por el mundo</h5>
        <p class="card-text">
          Como mochilero no te limitas únicamente a un lugar, como sería el caso
          de unas vacaciones organizadas, ya que el sueño de todos es estar
          mochileando por el mundo. Más bien planificas un viaje por todo un
          país e incluso por todo el continente.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/imagenes/Blog2.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Guías Viajar</h5>
        <p class="card-text">
          Guías Viajar es uno de los blogs de viajes más leídos en España junto
          a Viajeros callejeros y Mochileando por el mundo. Fundado en 2008 por
          el periodista y director de negocios editoriales José Luis Sarralde,
          se ha convertido en otro de los fijos en los rankings de mejores blogs
          de viajes. Con especial foco en viajes por España y Europa, Guías
          Viajar pretende no solo ser una guía útil sino también un medio
          informativo y herramienta para la promoción del turismo.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/imagenes/Blog3.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Con mochila</h5>
        <p class="card-text">
          Carme y Toni son los fundadores de este blog de viajes que nació en
          2008 y que no ha parado de crecer desde entonces, hasta llegar a
          contar con un equipo de 7 colaboradores. Su especialidad son los
          viajes por Asia y, en particular, el Sudeste Asiático, aunque también
          tienen artículos muy interesantes sobre reflexiones viajeras y turismo
          responsable.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/imagenes/Blog4.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Japonismo</h5>
        <p class="card-text">
          La guía online sobre Japón en español más completa que vas a
          encontrar. Si tienes pensado viajar al país nipón por tu cuenta, no
          dudes en consultar sus consejos e itinerarios porque seguro que te
          harán la planificación mucho más fácil. Mención especial para su
          apartado “Todo Japón”, donde hablan de la cultura japonesa; desde TV y
          libros hasta todo lo que debes saber sobre las geishas. Además, han
          creado un apartado muy útil en su web sobre la situación con el
          Covid-19, donde van contando todas las novedades sobre restricciones
          para viajar a Japón.
        </p>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="tit5">Contacto de soporte</div>
<div class="text2">
    <p>StayMate_Ayuda@gmail.com</p>
    <p>Tel. de soporte: 449-498-6982</p>
    <p>Horarios de atención: Lunes- Viernes: 8:00AM - 9:30PM</p>
    <p>Tiempo de respuesta esperado: Uno a dos días hábiles </p>
</div>
